
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="../assets/music.png" aria-label="Chaining Spotify">
    <div class="spacer"></div>
    <div class="login">
      <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="#ffffff"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3" />
        <circle cx="12" cy="10" r="3" />
        <circle cx="12" cy="12" r="10" />
      </svg>
    </div>
</div>

<div class="content" role="main">

  <div class="image-grid">
    <div class="song  col-12">
      <img class="col-9 img-fluid" src="../assets/gorilla.jpg" aria-label="Gorillas">
      <div class="infos col-3">
        <label>Song 1</label>
        <span>
          Gorillaz are an English virtual band formed in 1998 by musician Damon Albarn and artist Jamie Hewlett, from London.
          The
          band primarily consists of four fictional members: 2-D (vocals, keyboards), Murdoc Niccals (bass guitar), Noodle
          (guitar, keyboards, vocals), and Russel Hobbs (drums). Their universe is presented in music videos, interviews, comic
          strips and short cartoons. Gorillaz' music has featured collaborations with a wide range of featured artists, with
          Albarn as the only permanent musical contributor.
        </span>
        <button>
          Buy Song
        </button>
      </div>
    </div>
    <div class="song  col-12">
      <img class="col-9 img-fluid" src="../assets/fenge.jpg" aria-label="Fenge Suave">
      <div class="infos col-3">
         <label>Song 2</label>
        <span>
          Gorillaz are an English virtual band formed in 1998 by musician Damon Albarn and artist Jamie Hewlett, from London.
          The
          band primarily consists of four fictional members: 2-D (vocals, keyboards), Murdoc Niccals (bass guitar), Noodle
          (guitar, keyboards, vocals), and Russel Hobbs (drums). Their universe is presented in music videos, interviews, comic
          strips and short cartoons. Gorillaz' music has featured collaborations with a wide range of featured artists, with
          Albarn as the only permanent musical contributor.
        </span>
        <button>
          Buy Song
        </button>
      </div>
    </div>
    <div class="song  col-12">
      <img class="col-9 img-fluid" src="../assets/tame.jpg" aria-label="Gorillas">
      <div class="infos col-3">
        <label>Song 3</label>
        <span>
          Gorillaz are an English virtual band formed in 1998 by musician Damon Albarn and artist Jamie Hewlett, from London.
          The
          band primarily consists of four fictional members: 2-D (vocals, keyboards), Murdoc Niccals (bass guitar), Noodle
          (guitar, keyboards, vocals), and Russel Hobbs (drums). Their universe is presented in music videos, interviews, comic
          strips and short cartoons. Gorillaz' music has featured collaborations with a wide range of featured artists, with
          Albarn as the only permanent musical contributor.
        </span>
        <button>
          Buy Song
        </button>
      </div>
    </div>
  </div>
  <!-- Links -->
  <!-- Footer -->
  <footer>
    <div class="card-container">
      <a class="circle-link" title="Join the Conversation on Discord" href="https://github.com/EleniTr/-dApp"
        target="_blank" rel="noopener">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <title>Github Repo</title>
          <path d="M21.5 12H16c-.7 2-2 3-4 3s-3.3-1-4-3H2.5" />
          <path d="M5.5 5.1L2 12v6c0 1.1.9 2 2 2h16a2 2 0 002-2v-6l-3.4-6.9A2 2 0 0016.8 4H7.2a2 2 0 00-1.8 1.1z" />
        </svg>
      </a>
        <span>Eleni Trachanidou</span>
    </div>

  </footer>
</div>
