<div class="form-container" [formGroup]="form">
	<h3>Proceed with the payment</h3>

	<div>
		<mat-form-field appearance="outline">
			<mat-label>Name</mat-label>
			<input matInput type="text" placeholder="Name" formControlName="name"
				placeholder="zoe.eth..." [readonly]="true">
		</mat-form-field>
  </div>
  <div>
		<mat-form-field appearance="outline">
			<mat-label>Wallet Address</mat-label>
			<textarea matInput type="text" formControlName="walletAddress" placeholder="0x8e4ba5..." [readonly]="true">
		</textarea>
		</mat-form-field>
	</div>
	<div>

		<mat-label>Token Address</mat-label>
		<mat-radio-group class="example-radio-group" aria-label="Select an option" formControlName="tokenAddress">
			<mat-radio-button class="example-radio-button" value="songPrice">ETH</mat-radio-button>
			<!-- <mat-radio-button class="example-radio-button" value="0xaD6D458402F60fD3Bd25163575031ACDce07538D">DAI</mat-radio-button> -->
		</mat-radio-group>

		<!-- <mat-form-field appearance="outline">
			<mat-label>Token Address</mat-label>
			<textarea matInput type="text" formControlName="tokenAddress" placeholder="0x000000...">
		</textarea>
		</mat-form-field> -->
	</div>
	<button mat-raised-button color="primary" [disabled]="!form.valid" (click)="Submit()">Submit</button>
</div>
