/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";

html,
body {
  height: 100%;
  background: #0b7465;
  position: relative;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

button {
  text-transform: uppercase;
}

.form-container {
  display: flex;
  flex-direction: column;
}


.d-flex{
  display: flex;
}

.d-none{
  display: none;
}

.invalid-feedback{
  color:#fe5e88
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  position: fixed;
  top: 120px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.form-control {
  margin-bottom: 15px;
  max-width: 200px;
  height: 30px;
}

router-outlet+* {


  .login-position, .signup-position {
      position: relative;
      top: 160px;
      justify-content: center;
      display: flex;
      flex-direction: row;
      align-content: center;
    }
        .login-position .card , .signup-position .card{
          justify-content: center;
          display: flex;
          flex-direction: row;
          align-content: center;
          width: 100%;
          max-width: 430px;
          background: #25052d;
          border-radius: 14px;
          padding: 15px;
        }

        .form-control {
          margin-bottom: 15px;
          max-width: 200px;
          height: 30px;
        }

        .login-position .btn-primary,.signup-position .btn-primary {
          color: #fff;
          font-weight: bold;
          margin-top: 15px;
          padding: 10px;
          border: 2px solid #fe5e88;
          background-color: #fe5e88;
          cursor: pointer;
          border-radius: 4px;
        }
        .login-position .btn-secondary {
          color: #fff;
          font-weight: bold;
          margin-top: 15px;
          padding: 8px;
          border: 2px solid #0b7465;
          background-color: #0b7465;
          cursor: pointer;
          border-radius: 4px;
        }

          .signup-position .buttons , .login-position .buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .login-position h3,.signup-position h3 {
          color: #fff;
          font-size: large;
        }
}
