
<div class="card mt-4">
  <button  class="back"><a routerLink="/"> < Back</a></button>
<mat-card>
  <mat-card-header>
    <mat-card-title-group>
<mat-card-title>{{songSelected.album | uppercase}}</mat-card-title>
<img mat-card-sm-image *ngIf="songSelected.image!=''" src="{{songSelected.image}}"
  alt="{{songSelected.artist }} - {{songSelected.album }}">
<img mat-card-sm-image *ngIf="songSelected.image==''" src="../assets/music.png"
  alt="{{songSelected.artist }} - {{songSelected.album }}">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div>
      <label for="track-name">Artist: {{songSelected.artist }}</label>
      <p>{{songSelected.description}}</p>
    </div>
    <div class="track-price">
      <span>Price( ETH ): {{songSelected.price}} </span>
    </div>
  </mat-card-content>
</mat-card>

  <mat-divider></mat-divider>

  <div class="card-body">
  <div [ngClass]="!connected ? 'section' : 'mat-app-background-connected section-connected' ">
    <div *ngIf="!connected">
      <app-connect (connect)="onConnect()"></app-connect>
    </div>

    <div *ngIf="connected" class="container-fluid" style="width: 100%;">
       <app-create-org (create)="onCreate($event)"></app-create-org>

    </div>
  </div>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

  </div>
</div>
